{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Practicas</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actividad</th>
                <th>Frecuencia</th>
                <th>Horas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('practicascrud_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.actividad }}</td>
                <td>{% if entity.frecuencia %}{{ entity.frecuencia|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.horas }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('practicascrud_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('practicascrud_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('practicascrud_new') }}">
                Crear Nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
